@import url("../../../index.css");
/* 
    Rocket Measurements
    - Velocity
    - Altitude
*/
.rocket_measurements_container {
    width: fit-content;
    height: fit-content;
    position: absolute;

    display: flex;
    gap: 2rem;
    color: rgb(176, 176, 176);

    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
}

.velocity_tracker_container {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Styles */
    border-radius: 50%;
    border: 3px dashed rgba(176, 176, 176, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
}

.altitude_tracker_container {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Styles */
    border-radius: 50%;
    border: 3px dashed rgb(176, 176, 176);
    background-color: rgba(0, 0, 0, 0.7);
}

/* 
    Launch Timer
*/
.launch_timer_container {
    width: 10rem;
    height: fit-content;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 0.1rem;
    padding: 0.5rem;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;

    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

.fuel_container {
    height: 0.5rem;
    background-color: rgba(255, 88, 88, 0.75);
}

/* 
*   Camera Toggle Button 
*/
.camera_toggle_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;

    border: 1px solid black;
    background-size: 70%;

    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    font-weight: 900;
    font-family: bebas;
    text-align: center;
    background-image: url('/icons/telescope.png');
    background-position: top;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.camera_toggle_button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.camera_toggle_button:active {
    transform: scale(0.7);
}

/* 
*   Launch Timer
*/
.end_container {
    width: 30rem; 
    height: 20rem;
    position: absolute;

    top: 25vh;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);

    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;

    color: var(--text-color);
}

.end_message {
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-align: center;
}

.mission_outcome_container {
    width: 60%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
}

.outcome_stats_label_container {
    display: flex;
    flex-direction: column;
}

.outcome_stats_container {
    display: flex;
    flex-direction: column;
}

.mission_outcome_label {
    font-size: 1.3rem;
    text-align: left;
}

.mission_outcome_stat {
    font-size: 1.3rem;
    text-align: right;
}

.failed_text {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: rgb(255, 29, 29);
    text-shadow: 0 0 20px rgb(248, 50, 50);
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
    background-color: rgba(0, 0, 0, 0.641);
}

.success_text {
    font-size: 1.3rem;
    color: rgba(26, 176, 26, 0.813);
    text-shadow: 0 0 20px rgba(126, 255, 147, 0.63);
    padding-left: 0.5rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    background-color: rgba(0, 0, 0, 0.641);
}

.restart_button {
    width: 10rem;
    height: fit-content;
    padding-top: 0.2rem;
    margin-top: 1rem;
    user-select: none;
    color: white;
    font-family: bebas;

    background-color: rgba(248, 50, 50, 0.759);
    border: none;
    transition: all 0.3s ease-in-out;
}

.restart_button:hover {
    transform: scale(1.1);
}

.restart_button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 824px) {
    .end_container {
        width: 80%;
    }
}