/* 
    Rocket Measurements
    - Velocity
    - Altitude
*/
.rocket_measurements_container {
    width: fit-content;
    height: fit-content;
    position: absolute;

    display: flex;
    gap: 2rem;
    color: rgb(176, 176, 176);

    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
}

.velocity_tracker_container {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Styles */
    border-radius: 50%;
    border: 3px dashed rgba(176, 176, 176, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
}

.altitude_tracker_container {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Styles */
    border-radius: 50%;
    border: 3px dashed rgb(176, 176, 176);
    background-color: rgba(0, 0, 0, 0.7);
}

/* 
    Launch Timer
*/
.launch_timer_container {
    width: 10rem;
    height: 3rem;
    position: absolute;

    display: flex;
    justify-content: left;
    align-items: center;

    gap: 2rem;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;

    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

.missionTime {
    padding-left: 1rem;
}