.preLaunchInterface_Container {
    width: 100%;
    height: 100vh;
    top: 0;

    background: transparent;
    z-index: 1000;
    position: fixed;

    font-size: 5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* 
    Instructions 
*/
.instructions_button_container {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1rem;
    right: 1rem;
    background-repeat: no-repeat;
    border: none;
    transition: all 0.3s ease-in-out;
    pointer-events: auto;
    user-select: none;
    z-index: 1000;
}

.instructions_button_container:hover {
    transform: scale(1.2);
}

.instructions_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-size: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url("../../../public/info.png");
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.instructions_button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/* 
*   Launch Button
*/
.launch_button_container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launch_button {
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    user-select: none;

    margin-top: 40rem;

    /* styles */
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgba(110, 255, 202, 0.9);
    background-color: rgba(110, 255, 202, 0.4);
    box-shadow: 0 0 10px 3px rgba(110, 255, 202, 0.5);
    transition: all 0.3s ease-in-out;
}

.launch_button:hover {
    transform: scale(1.1);
}

.launch_button:active {
    transform: scale(0.9);
}